
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 60% auto auto;
    align-items: center;
    color: white;
    padding: 10px;

}


p {
    margin: 0px;
}
header a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 40px;
}

.allmenus {
    position: relative;
    margin: 20px;
    font-size: 22px;
}
.allmenus  {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.allmenu-item-submenu {
    position: absolute;
    background: white;
    color: black;
    list-style: none;
    padding: 0px;
    margin: 0px;
} 

.allmenu-item .allmenu-item-submenu{
    display: none;
}
.allmenu-item:hover  .allmenu-item-submenu{
    display: block;
}
.mobilelist {
    display: none;
    position: absolute;
    z-index: 1;
}

.menusym {
    display: none;
}

.menu1 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 9%;
}

.menu2 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 16%;
}

.menu3 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 29%;
}

.menu4 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 40%;
}

.menu5 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 49%;
}

.menu6 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 63%;
}

.menu7 {
    position: absolute;
    top: 8%;
    padding: 10px;
    left: 82%;
}

.allmenus a {
    text-decoration: none;
    color: white;
}

.allmenus a:hover {
    background: white;
    color: blue;
}
.allmenu-item-submenu a {
    color: black;
    font-size: 16px;
    padding: 5px;
    display: block;
}

@media (max-width:500px) {
    header {
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
    }

    header a {
        color: rgb(212, 205, 205, 0.7);
        text-align: center;
    }

    .mobile {
        position: absolute;
        top: 2%;
        left: 50%;
        font-size: 10px;
        display: none;
    }

    .email {
        position: absolute;
        top: 2%;
        left: 70%;
        font-size: 10px;
        display: none;
    }

    .allmenus {
        display: none;
    }

    .mobilelist {
        display: none;
    }

    .mobilelist li {
        display: block;
    }

    .menusym {
        display: block;
    }

    .menusym i {
        left: 5%;
        font-size: 30px;
        top: 4%;
        color: green;
        cursor: pointer;
    }

    .menusym i:hover {
        color: rgb(51, 13, 221);
    }

    .mobilelist {
        display: none;
    }

    .mobilelist ul {
        display: hide;
    }

    .mobilelist ul li {
        position: relative;
        top: -7px;
        right: 40px;
        list-style-type: none;
        background-color: rgb(198, 221, 196);
        width: 145px;
        height: 14px;
        padding: 7px;
        margin-left: 0px;
        display: block;
        cursor: pointer;
        border: outset;
        border-radius: 10px;
    }

    ul li {
        font-display: block;
    }

    ul a {
        text-decoration: none;
        color: black;
    }

    ul li a:hover {
        color: fuchsia;
    }

}

.box {
    height: 100%;
}
footer{
    background: #999;
    padding: 10px;
}

.container {
    padding: 10px ;

  }
