
.home {
    background: linear-gradient(rgb(8, 8, 8), rgb(14, 13, 13, 0.7)), url("/img/img3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
}

.scroll {
    cursor: pointer;
}

marquee {
    background: rgba(204, 204, 30, 0.8);
    color: black;
    padding: 10px;
}

.maindiv {
    position: absolute;
    top: 420px;
}

.maindiv {
    position: relative;
    width: 700px;
    height: 250px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    border-radius: 10%;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: gray;
    color: #333;
    border-radius: 9%;
}

.front img {
    top: 0%;
    width: 250px;
    height: 200px;
    border-radius: 10%;
}

.back {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: rgb(11, 207, 54);
    color: #333;
    transform: rotateY(180deg);
    border-radius: 10%;
}

.content1 {
    position: relative;
    max-width: 80%;
    font-size: 30px;
    text-align: center;
    opacity: 0.6;
    color: wheat;
    cursor: pointer;
    display: block;
}

.content2 {
    position: relative;
    max-width: 70%;
    font-size: 216%;
    text-align: center;
    color: rgb(14, 240, 89);
    text-align: center;
    cursor: pointer;
    display: block;
    font-style: normal;
}

.content3 {
    position: relative;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    color: rgb(234, 236, 230);
    opacity: 0.7;
    font-weight: bold;
    text-align: center;
}

.contactnow {
    position: relative;
    border: 2px solid;
    width: 150px;
    text-align: center;
    cursor: pointer;
    display: block;
    border-style: outset;
    border-color: aqua;
    border-bottom-style: solid;
}
a.contact-now {
    text-decoration: none;
    color: whitesmoke;
        padding: 15px;
    display: block;
}
.contactnow:hover {
    background: green;
    display: block;
}

.contactnow i {
    position: absolute;
    left: 7%;
    top: 30%;
    font-size: 20px;
    display: block;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    padding: 20px 10px;
}
.footer-box{
    display: flex;
    
}

@media (max-width:500px) {
    .content-container{
        height: 600px;
    }
    body.home {
        background: linear-gradient(rgba(8, 8, 8, 0.7), rgb(8, 8, 8)), url("/img/img7.jpg");
        background-size: cover;
        height: fit-content;
        background-repeat: no-repeat;
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
    }

    marquee {
        position: relative;
        margin-top: 3%;
        background: rgba(204, 204, 30, 0.4);
        color: black;
    }

}
