---
layout: inner
title: 1taxnation
phoneno: +91 90000 46136
email: 1taxnation@gmail.com
title: GST
register_gst:
- Get your company GST Registered in 5 days
- Filling GST Registration made easy
- Not complying to GST attracts heavy penalty
- GST Registration helps to inter state
- Companies that earn over prescribed limit should register GST
gst_returns:
- File your GST Returns in timely manner
- Filling mandatory for all pepole with GST
- Avoid penality or Register cancellation
- Ease of availing loans as you file regularly
gst_appeals:
- Appeals against different orders of GST
- Excellent Legal Council
- Aggieved with an order file an appeal
gst_refund:
- Our expert CA help in your GST refunds
- Claim the refund for the excess tax paid
- Get the refund your accumulated incom tax credit
---
<h2> GST</h2>
<div class="gstcontent">
    <h3> GST Registration</h3>
    <div class="section">
        <div class="details">
            {% for register_gst in page.register_gst %}
                <div class="details-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>{{ register_gst }}</span>
                </div>
            {% endfor %}
        </div>
        <img src="./img/GSTRegistration-.jpg" >
    </div>
</div>
<div class="gstreturn">
    <hr>
    <h2>GST Returns</h2>
    <div class="section">
        <div class="details">
            {% for gst_returns in page.gst_returns %}
                <div class="details-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span> {{ gst_returns }} </span>
                </div>
            {% endfor %}
        </div>
        <img src="./img/gstreturn.jpg" >
    </div>
</div>
<div class="appeals">
    <hr>
    <h2>GST Appeals</h2>
    <div class="section">
        <div class="details">
            {% for gst_appeals in page.gst_appeals %}
                <div class="details-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>{{ gst_appeals }}</span>
                </div>
            {% endfor %}
        </div>
        <img src="./img/Appeal.jpg" >
    </div>
</div>
<div class="refund">
    <hr>
    <h2>GST Refund</h2>
    <div class="section">
        <div class="details">
            {% for gst_refund in page.gst_refund        %}
                <div class="details-item">
                    <i class="fa-regular fa-circle-check"></i>
                    <span>{{ gst_refund }}</span>
                </div>
            {% endfor %}
        </div>
        <img src="./img/gstrefund.jpg" >
    </div>
</div>