---
title: GST
register_gst:
  - Get your company GST Registered in 5 days
  - Filling GST Registration made easy
  - Not complying to GST attracts heavy penalty
  - GST Registration helps to inter state
  - Companies that earn over prescribed limit should register GST
gst_returns:
  - File your GST Returns in timely manner
  - Filling mandatory for all pepole with GST
  - Avoid penality or Register cancellation
  - Ease of availing loans as you file regularly
gst_appeals:
  - Appeals against different orders of GST
  - Excellent Legal Council
  - Aggieved with an order file an appeal
gst_refund:
  - Our expert CA help in your GST refunds
  - Claim the refund for the excess tax paid
  - Get the refund your accumulated incom tax credit
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <title>GST</title>
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/jquery-3.6.0.min.js"> </script>
    <script src="./js/index.js"> </script>
    <script src="https://kit.fontawesome.com/8f02bbba9a.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include header.html %}
    <div class="gstcontent">
        <h4> GST Registration</h4>
        {% for register_gst in page.register_gst %}
			<i class="fa-regular fa-circle-check"></i> {{ register_gst }}<br><br>
		{% endfor %}
        <img src="./img/GSTRegistration-.jpg"width="420" height="200" >
        <button>Register GST</button>
    </div>

    <div class="gstreturn">
        <hr>
        <h3>GST Returns</h3>
        {% for gst_returns in page.gst_returns %}
			<i class="fa-regular fa-circle-check"></i> {{ gst_returns }}<br><br>
		{% endfor %}
        <button>File GST Returns</button>
   


        <img src="./img/gstreturn.jpg" width="380" height="170">

    </div>
    <div class="appeals">
        <hr>
        <h3>GST Appeals</h3>
        {% for gst_appeals in page.gst_appeals %}
			<i class="fa-regular fa-circle-check"></i> {{ gst_appeals }}<br><br>
		{% endfor %}
        <button>GST Appeals</button>

    
        <img src="./img/Appeal.jpg" width="380" height="170">
    </div>
    <div class="refund">
        <hr>
        <h3>GST Refund</h3>
        {% for gst_refund in page.gst_refund		%}
			<i class="fa-regular fa-circle-check"></i> {{ gst_refund }}<br><br>
		{% endfor %}
        <button>GST Refund</button>

    
        <img src="./img/gstrefund.jpg" width="380" height="170">
    </div>


</body>

</html>
