---
title: PF and ESI
esi:
  - Mandatory for company with employees more than 10 members.
  - Our experts helps you to get registered quickly.
  - Provide health coverage for your employees and their dependents
epf:
  - Employees with more than 20 people can apply for it
  - A hazzle free experience with the help of our experts
  - Employers and Employees need to contribute minimum 12 percent <br>each for the provident fund
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <title>PF & ESI</title>
    <link rel="stylesheet" href="./css/all.css">
    <script src="./js/jquery-3.6.0.min.js"> </script>
    <script src="./js/index.js"> </script>
    <script src="https://kit.fontawesome.com/8f02bbba9a.js" crossorigin="anonymous"></script>
</head>

<body>
    {% include header.html %}
    <div class="Insurance">
        <hr>
        <h3>Employee State Insurance</h3>
        {% for esi in page.esi %}
			<i class="fa-regular fa-circle-check"></i> {{ esi }}<br><br>
		{% endfor %}     
		<img src="./img/Employees.jpg" width="380" height="170">
        <button>Employee State Insurance</button>
    
        
    </div>
    

<div class="Provident">
    <hr>
    <h3>Employee Provident Fund</h3>
    {% for epf in page.epf %}
			<i class="fa-regular fa-circle-check"></i> {{ epf }}<br><br>
		{% endfor %}     
    <img src="./img/empfund.jpg" width="380" height="170">
    <button>EMP Provident Fund</button>

    


</div>
</body>
</html>
