---
title: PF and ESI
esi:
  - Mandatory for company with employees more than 10 members.
  - Our experts helps you to get registered quickly.
  - Provide health coverage for your employees and their dependents
epf:
  - Employees with more than 20 people can apply for it
  - A hazzle free experience with the help of our experts
  - Employers and Employees need to contribute minimum 12 percent <br>each for the provident fund
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
    <title>PF & ESI</title>
    <link rel="stylesheet" href="./all.css">
    <script src="./jquery-3.6.0.min.js"> </script>
    <script src="./index.js"> </script>
    <script src="https://kit.fontawesome.com/8f02bbba9a.js" crossorigin="anonymous"></script>
</head>

<body>
    <header> <a href="./index.html"> Elitetax </a><br></header>
    <div class="mobile">+910000000000</div>
    <div class="email">E-mail:Elitetax@gmail.com</div>
    <div class="allmenus">
        <div class="menu1"><a href="./gst.html"> GST </a></div>
        <div class="menu2"><a href="./audit.html">Audit Service </a></div>
        <div class="menu3"><a href="./incometax.html">Income Tax </a></div>
        <div class="menu4"><a href="./pf&esi.html">PF & ESI</a></div>
        <div class="menu5"><a href="./miscellaneous.html">Miscellaneous</a></div>
        <div class="menu6"><a href="./book.html">Books Maintenance</a></div>
        <div class="menu7"><a href="">About</a></div>

    </div>
    <div class="mobilelist">

        <ul>
            <li><a href="./gst.html"> GST </a></li>
            <li><a href="./audit.html">Audit Service </a></li>
            <li><a href="./incometax.html">IncomeTax </a></li>
            <li><a href="./pf&esi.html">PF & ESI</a></li>
            <li><a href="./miscellaneous.html">Miscellaneous</a></li>
            <li><a href="./book.html">Books Maintenance</a></li>
            <li><a href="">About</a></li>

        </ul>


    </div>

    
    <div class="menusym">
        <b><i class="fa-solid fa-bars"></i></b>
    </div>


    <div class="Insurance">
        <hr>
        <h3>Employee State Insurance</h3>
        {% for esi in page.esi %}
			<i class="fa-regular fa-circle-check"></i> {{ esi }}<br><br>
		{% endfor %}     
		<img src="./Employees.jpg" width="380" height="170">
        <button>Employee State Insurance</button>
    
        
    </div>
    

<div class="Provident">
    <hr>
    <h3>Employee Provident Fund</h3>
    {% for epf in page.epf %}
			<i class="fa-regular fa-circle-check"></i> {{ epf }}<br><br>
		{% endfor %}     
    <img src="./empfund.jpg" width="380" height="170">
    <button>EMP Provident Fund</button>

    


</div>
</body>
</html>
