<header>
    <div class="menusym">
        <i class="fa-solid fa-bars"> </i>
    </div>
    <a href="/index.html">
        1taxnation
    </a>
    <div class="mobile">{{site.data.header.phoneno}}</div>
    <div class="email">{{site.data.header.email}}</div>
</header>

<ul class="navigation-desktop">
    {% for navigation in site.data.navigation %}
        <li class="navigation-desktop-item">
            <a href="/{{ navigation.link }}">
                {{ navigation.title }}
            </a>
            <ul class="navigation-desktop-submenu">
                {% for submenuItem in navigation.submenu %}
                    <li class="navigation-desktop-submenu-item">
                        <a href="/{{ submenuItem.link }}">
                            {{ submenuItem.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>


<ul class="navigation-mobile">
    {% for navigation in site.data.navigation %}
        <li class="navigation-mobile-item">
            <a href="/{{ navigation.link }}">
                {{ navigation.title }}
            </a>
            <ul class="navigation-mobile-sub-menu" >
            {% for submenuItem in navigation.submenu %}
                <li class="navigation-mobile-sub-item" >
                    <a href="/{{ submenuItem.link }}">
                        {{ submenuItem.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
</ul>
